venv
venv-win
venv_new
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesiss
.env
.env.*
ranoson.db
*.db
*.sqlite3
static/videos
static/courses
